<% audits ||= audits %>
<% id ||= Time.now.to_i %>

<div class="table-responsive">
	<table class="table align-middle table-row-dashed fs-6 gy-5 table-audits-<%= id %>" id="table-audits-<%= id %>">
		<thead>
			<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
				<th>#</th>
                <th>Usuário</th>
                <th>Tipo</th>
                <th>Ação</th>
                <th>Alteração</th>
                <th>Versão</th>
                <th>IP</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 fw-semibold ">
            <% if audits.present? %>
                <% audits.try(:each_with_index) do |audit, index| %>
                    <tr>
                        <td class="col-md-1 coluna-index"><%= index + 1 %></td>
                        <td><%= audit.try(:user).try(:nome) %></td>
                        <td><%= audit.try(:auditable_type) %></td>
                        <td><%= audit.action == "update" ? "Atualização" : audit.action == "create" ? "Inserção" : "Remoção"  %></td>
                        <td>
                            <%= link_to "Visualizar", "/admin/audits/show?audit_id=#{audit.try(:id)}&auditable_type=#{audit.try(:auditable_type)}&auditable_id=#{audit.try(:auditable_id)}", class: "bg-primary text-white py-2 px-4", remote: true %>
                        </td>
                        <td class="col-md-1 coluna-index"><%= audit.try(:version) %></td>
                        <td><%= audit.try(:remote_address) %></td>
                        <td><%= audit.try(:created_at).try(:to_fs) %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<script>
    initDatatable();
    $('#table-audits-<%= id %>').DataTable({
        "order": [[ 5, "desc" ]]
    });
</script>