<% modal_class ||= modal_class %>
<% modal_id ||= modal_id %>
<% modal_title ||= modal_title %>
<% modal_body ||= modal_body %>
<% modal_buttons ||= modal_buttons %>

<div class="modal fade <%= modal_class %>" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="<%= modal_id %>" aria-labelledby="<%= modal_id %>" aria-hidden="true"  role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <h1 class="modal-title" title="<%= modal_title %>" data-bs-toggle="tooltip" data-bs-placement="top">
                        <%= modal_title %>
                    </h1>
                </div>
                <div class="pull-left">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    <button type="button" data-bs-minimize="modal" aria-label="Minimize">&#45;</button>
                </div>
            </div>
            <div class="modal-body">
                <%= modal_body %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Fechar</button>
                <div class="pull-left">
                    <%= modal_buttons %>
                </div>
            </div>
        </div>
    </div>
</div>
